{
  "path": 
	{ 
		"camClientExe" : "../cameraClient/myClient",
		"image" : "./image/finderAutoSolver.fits"
	},
		
	"camera":
	{
		"indiServerAddress" : "localhost",
		"indiServerPort" : 7624,
		"name": "ZWO CCD ASI120MM"		
	},
	
	"acquisition":
	{
		"exposureTime" : 4,
		"binning" : 2
	},
	
	"centerX": 434,
	"centerY": 391,
	"scale": 11.4,
	
	"testWithoutSky": false,
	"imageTest":"./image/finder2.fits"

}
