
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
  
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
      transition: all .3s linear;
    
}

/* Change the link color to #111 (black) on hover */
li a:hover {
	transform: scale(1.2);
    background-color: #000;
}

body {
  background-color: #333377;
  color: white;
}
